@media( max-width : 1150px  ){
    header {
        padding: 10px 40px;
    }
    .intro h1 {
        font-size: 62px;
    }
    .inner {
        width: 100%;
    }
    article.sloution-main {
        display: block;
        text-align: center;
    }
    br.break {
        display: none;
    }
    section.sloution h2 {
        font-size: 48px;
        margin: 25px 0 40px;
    }
    .visual {
        width: 100%;
        height: 387px;
        margin-top: 98px;
    }
    .sloution p {
        font-size: 18px;
    }
    .service .inner {
        padding: 0 50px;
    }
    .service li {
        min-width: 200px;
    }
    section.news {
        padding: 0 50px;
    }
    section.news .post {
        min-width: 200px;
    }
}

@media ( max-width: 700px){
    header .gnb {
        display: none;
    }
    header .burger {
        display: block;
    }
    header {
        padding: 10px 20px;
    }
    .intro h1 {
        font-size: 52px;
    }
    section.intro a {
        padding: 14px 66px;
    }
    p.slogan {
        font-size: 15px;
    }
    .sloution h2 {
        font-size: 41px;
    }
    .sloution p {
        font-size: 15px;
    }
    .sloution p br.break {
        display: block;
    }
    .visual {
        height: 273px;
    }
    .service ul {
        flex-direction: column;
    }
    .service li {
        width: 100%;
    }
    .service h4 {
        font-size: 23px;
    }
    .service li p {
        font-size: 16px;
    }
    .service li a {
        font-size: 15px;
    }
    .service div {
        margin-bottom: 45px;
    }
    section.service {
        height: auto;
        padding: 215px 0;
    }
    section.news li {
        display: block;
        padding: 60px 0;
    }
    .post + p {
        text-align-last: left;
        font-size: 17px;
    }
    .news h3 {
        font-size: 34px;
    }
    .news h2 {
        font-size: 45px;
    }
    .news a.view-more {
        font-size: 15px;
    }
    .post h2 {
        margin-bottom: 12px;
    }
    section.news .post {
        margin-bottom: 50px;
    }
    .post + p br {
        display: none;
    }
    .service .inner {
        padding: 0 30px;
    }
    section.news {
        padding: 0 30px;
    }
}