body {
    letter-spacing: -0.38px;
    color: #fff;
    background: #081131;
}
.inner {
    width: 1150px;
    margin: 0 auto;
}
h1 {
    font-size: clamp(2.625rem, 1.9648rem + 2.1127vw, 4.5rem);;
    line-height: 130%;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-weight: 600;
    font-size: 28px;
}
a {
    color: #fff;
}
/* header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 60px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    align-items: center;
}
.logo a {
    width: 119px;
    height: 31px;
    display: block;
    background: url('images/logo.svg') no-repeat center/ cover;
    text-indent: -99999px;
}
ul.gnb {
    display: flex;
}
ul.gnb a {
    padding: 25px 28px;
    display: inline-block;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
}
ul.gnb li:last-child a {
    padding-right: 0;
}
.burger {
    display: none;
}
.burger span {
    width: 18px;
    height: 2px;
    background: #fff;
    display: block;
}
.ln1,
.ln2 {
    margin-bottom: 5px;
}
.burger .ln2 {
    width: 12px;
    position: relative;
    left: 6px;
}

/* section class="intro" */
section.intro {
    width: 100%;
    height: 100vh;
    background: url('images/stars.jpg') no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.intro h1 {
    margin: 25px 0 72px;
}
article.intro-main {
}
p.slogan {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
section.intro a {
    padding: 14px 32px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
}
a.free-trial {
    background: #fff;
    color: #081131;
    margin-right: 9px;
}
a.get-in-touch {
    border: 1px solid #fff;
}
/* sloution-main */
section.sloution {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
article.sloution-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sloution h2 {
    line-height: 1.3;
    margin: 25px 0 114px;
}
.sloution p {
    line-height: 1.6;
    font-size: 20px;
    font-weight: 500;
}
.visual {
    width: 413px;
    height: 620px;
    background: url('images/nasa.jpg') no-repeat center / cover;
    transform: scaleX(-1);
}
/* service-main */
section.service {
    width: 100%;
    height: 100vh;
    background: url('images/service-bg.jpg') no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service div {
    text-align: center;
    margin-bottom: 113px;
}
.service h3 {
    margin-bottom: 20px;
}
a.view-more {
    font-size: 18px;
    font-weight: 600;
}
.service ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.service li {
    width: 375px;
    /* border: 1px solid blue; */
    padding: 47px 28px 56px;
    border-radius: 27px;
}
.service li:nth-child(odd){
    background: #081131;
}
.service li:nth-child(even){
    background: #fff;
    color: #081131;
}
.service li:nth-child(even) a {
    color: #081131;
}
.service li p {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.6;
    margin: 37px 0;
}
.service li a {
    font-size: 17px;
    font-weight: 700;
}
/* news */
section.news {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
section.news li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    border-bottom: 1px solid rgba(255,255, 255, .55);
}
.post + p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    text-align: right;
}
.post h3 {
    margin-bottom: 15px;
}